# {{ ansible_managed }}
{% for item in users %}
{% if item.ssh_config is defined %}
{% for subItem in item.ssh_config %}
Host {{subItem.host}}
    HostName {{subItem.hostname}}
    User {{subItem.user}}
    Port {{subItem.port}}
    IdentityFile {{subItem.identity_file}}

{% endfor %}
{% endif %}
{% endfor %}