[user]
    name = "$USER"
    email = "$USER@confirmsign.com"
[core]
    editor = {{git_core_editor | default('nano')}}
    pager = less
    autocrlf = true

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
